.container-fluid {
  padding: 20px;
}

:host>>>ng2-smart-table * {
  font-size: 1.4rem;
}

:host>>>ng2-smart-table table tr td {
  font-size: 1.4rem;
}

:host>>>ng2-smart-table a {
  color: #FDFDFD;
} 

:host>>>ng2-smart-table-pager * {
  font-size: 1.4rem;
}

:host>>>ng2-smart-table a.sort.asc::after {
  border-bottom: 4px solid rgba(255,255,255,.3);
} 

:host>>>ng2-smart-table a.sort.desc::after {
  border-bottom: 4px solid rgba(255,255,255,.3);
}

:host>>>ng2-smart-table ng2-smart-table-cell {
  color: #9a9a9a;
}