<header class="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <h1 class="page-header-heading"><span class="typcn typcn-business-card page-header-heading-icon"></span>Registros Validos</h1>
        <p class="page-header-description">Panel de visualización de los registros de los itinerarios</p>
      </div>
      <div class="col-sm-3 col-lg-4">
        <img src="/assets/images/image.png" width="150" alt="Axxezo" class="achievement-image">
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">

  <!-- row -->
  <div class="row">

    <div class="panel panel-faded-blue">
      <div class="panel-heading">
        <h3 class="panel-title">Filtros</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <label for="to-datefilter">Fecha:</label>
          <input name="datefilter" class="form-control" [(ngModel)]="datefilter" (ngModelChange)="setDateFilter($event)" date-format="YYYY-MM-DD hh:mm" placeholder="Seleccione fecha" ng2-datetime-picker>
        </div>
        
        <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="datefilter">
          <label>Itinerarios:</label>
          <select class="form-control" (change)="changeItinerary($event.target.value)" [(ngModel)]="currentItineraryIdFilter">
              <option value="">- Seleccione itinerario - </option>
              <option *ngFor="let itinerary of itinerariesForSelectedDate" [value]="itinerary._id">{{ itinerary.name + ' (refId: ' + itinerary.refId + ')'}}</option>
          </select>
        </div>        
      </div>
    </div>


    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-success">
        <header class="widget-statistic-header">Total</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">{{ statistics.totalCount }}</span>
          <span class="widget-statistic-description">Toal de personas</span>
          <span class="widget-statistic-icon fa fa-user"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-primary">
        <header class="widget-statistic-header">Embarcados</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">{{ statistics.checkinCount }}</span>
          <span class="widget-statistic-description">Numero de personas embarcadas</span>
          <span class="widget-statistic-icon fa fa-ship"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-info">
        <header class="widget-statistic-header">Desembarcados</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">{{ statistics.checkoutCount }}</span>
          <span class="widget-statistic-description">Numero de personas desembarcadas</span>
          <span class="widget-statistic-icon fa fa-sign-out"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-faded-blue">
        <header class="widget-statistic-header">Compras a bordo</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">{{ statistics.onboardSellsCount }}</span>
          <span class="widget-statistic-description">Cantidad de compras a bordo</span>
          <span class="widget-statistic-icon fa fa-money"></span>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->

  <!-- row -->  
  <div class="row">
    <div class="col-lg-12">
      <h4>Listado de Registros</h4>      
      <ng2-smart-table [settings]="registerTableSettings" [source]="registerTableDataSource"></ng2-smart-table>
    </div>
  </div>
  <!-- end row -->


</div>
