<header class="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <h1 class="page-header-heading"><span class="typcn typcn-chart-line page-header-heading-icon"></span>Dashboard</h1>
        <p class="page-header-description">Este panel de control provee un resumen ....</p>
      </div>
      <div class="col-sm-3 col-lg-4">
        <img src="/assets/images/image.png" width="150" alt="Axxezo" class="achievement-image">
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">

  <!-- row -->
  <div class="row">

    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-success">
        <header class="widget-statistic-header">En Planta</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">10</span>
          <span class="widget-statistic-description">Numero  <strong>total</strong> de personas en planta</span>
          <span class="widget-statistic-icon fa fa-industry"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-primary">
        <header class="widget-statistic-header">Empleados</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">10</span>
          <span class="widget-statistic-description">Porcentaje de <strong>empleados</strong> en planta</span>
          <span class="widget-statistic-icon fa fa-user"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-info">
        <header class="widget-statistic-header">Contratistas</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">10</span>
          <span class="widget-statistic-description">Porcentaje de <strong>contratistas</strong> en planta</span>
          <span class="widget-statistic-icon fa fa-user-o"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-faded-blue">
        <header class="widget-statistic-header">Visitas</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">10</span>
          <span class="widget-statistic-description">Porcentaje de <strong>visitas</strong> en planta</span>
          <span class="widget-statistic-icon fa fa-eye"></span>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->

</div>
