<div class="notifications top-right"></div>

<div class="wrapper">
  <div class="page-wrapper">
    <app-top-header [title]="'PassengerControl'"></app-top-header>
    
    <app-left-sidebar>
      
      <!-- <div *ngIf="(currentUser | async).role === 'admin'">
        <li class="sidebar-nav-heading">Administración</li>

        <sidebar-section
          [linkTo]="'overview'"
          [sectionName]="'Estadisticas Globales'"
          [iconClass]="'typcn-chart-line'">
        </sidebar-section>

        <sidebar-section
          [linkTo]="'peopleManagement'"
          [sectionName]="'Gestion Personal'"
          [iconClass]="'typcn-group-outline'">
        </sidebar-section>
      </div> -->
        
      <li class="sidebar-nav-heading">General</li>
      
      <li class="sidebar-nav-link sidebar-nav-link-group open">
        <a><span class="typcn typcn-document sidebar-nav-link-logo"></span> Registros</a>
                
        <ul class="sidebar-nav">
          <sidebar-section
            [linkTo]="'registers'"
            [sectionName]="'Registros Válidos'"
            [iconClass]="'typcn-business-card'">
          </sidebar-section>
        </ul>
        <ul class="sidebar-nav">
          <sidebar-section
            [linkTo]="'denied-registers'"
            [sectionName]="'Registros Denegados'" 
            [iconClass]="'typcn-cancel'">
          </sidebar-section>
        </ul>
      </li>
      
    </app-left-sidebar>
    
    
    <div class="content-wrapper">    
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>
